<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <h1>Home Page</h1>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>

    <button class="homeBtn">How Many Times can You Click it</button><span class="click-count"></span>
    <a href="../logout"><button>Logout</button></a>


<script src="main.js"></script>
</body>

</html>